@media (min-width: 320px) and (max-width: 900px) {

    .banner-pic-title {
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
    }

    .banner-pic-subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }

    .banner-pic {
        background-position: center;
        padding-top: 30px;
    }

    .display-none-mobile {
        display: none;
    }

    .col-xs-50 {
        width: 50%;
    }

    .ta-cntr-xs {
        text-align: center;
    }

    .jc-sb-mobile {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .banner-pic-subtitle {
        margin-top: 16px;
    }

    .banner-pic {
        height: 378px;
    }

    .banner-block {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        padding: 15px 20px;
        max-width: 100%;
    }

    .banner-block:nth-child(odd):after {
        height: 100%;
    }

    .banner-block:nth-child(2):after {
        display: none;
    }

    .banner-block:nth-child(1),
    .banner-block:nth-child(2) {
        border-bottom: 1px solid #C6C6C6;
    }

    .header-wrap {
        padding: 8px 0;
    }

    .header__logo-wrap-mobile {
        height: 40px;
    }

    .display-none-pc {
        display: block;
    }

    .header-contacts-number {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
    }

    .header-container {
        background-color: #282828;
        padding: 8px 0;
    }

    .header-contacts {
        margin-left: 0;
    }

    .menu-btn>span::before {
        content: '';
        top: -10px;
    }

    .menu-btn>span::after {
        content: '';
        top: 10px;
    }

    .menu-btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: white;
        transition: 0.3s;
    }

    .menu-btn-active>span {
        visibility: hidden;
        transition: 0s;
    }

    .menu-btn-active>span::before, .menu-btn-active>span::after{
        top: 0;
        transition: 0.3s;
        visibility: visible;
    }

    .menu-btn-active>span::before {
        transform: rotate(45deg);
    }

    .menu-btn-active>span::after {
        transform: rotate(-45deg);
    }

    .dropdown {
        display: flex;
    }

    .dropdown-content {
        top: 55px;
        left: 25px;
    }

    .wrapper {
        padding: 0 16px;
    }

    .banner-blocks {
        width: calc(100% + 32px);
        left: -16px;
        top: 0;
    }

    .col-xs-100 {
        width: 100%;
    }

    .header__nav {
        top: 56px;
        left: 0;
        position: absolute;
        z-index: 5;
        background: #282828;
        width: 100%;
    }

    .feedback-title {
        margin-top: 40px;
    }
}

@media (min-width: 550px) and (max-width: 900px) {
    .banner-pic-title {
        font-size: 38px;
        line-height: 45px;
    }

    .banner-pic-subtitle {
        font-size: 23px;
        line-height: 45px;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    .banner-pic-title {
        font-size: 40px;
        line-height: 45px;
    }

    .banner-pic-subtitle {
        font-size: 26px;
        line-height: 45px;
    }

}

@media (min-width: 320px) and (max-width: 600px) {
    .banner-block {
        font-size: 12px;
    }

    .feedback-form {
        width: 80%;
    }
}

@media (min-width: 900px) and (max-width: 1180px) {
    .header-wrap {
        display: none;
    }

    .banner-pic .wrapper {
        padding: 0 15px;
    }

    .banner-block {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
}

@media (min-width: 408px) and (max-width: 540px) {
    .banner-block {
        padding: 15px 30px;
    }
}

@media (min-width: 460px) and (max-width: 540px) {
    .banner-block {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    .menu-btn {
        display: none;
    }
}